[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "third_party/vulkan-sample"]
	path = third_party/vulkan-sample
	url = https://github.com/KhronosGroup/Vulkan-Samples.git
