[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "third_party/openal"]
	path = third_party/openal
	url = https://github.com/kcat/openal-soft.git
